<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helios Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        .nav-item:hover,
        .nav-item-active:hover {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <div class="header">
        {% load static %}
        <img src="{% static 'bookshelf.jpg' %}" alt="banner" style="width:100vw">
    </div>
    <div class="row sticky-top">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <span class="navbar-brand" href="#">HeliosLibrary</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="">Home</span></a>
                        </li>
                        <li class="nav-item-active">
                            <a class="nav-link" href="/libmagapp/add_book" target="_blank" rel="noopener noreferrer">Add Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/libmagapp/add_lending" target="_blank" rel="noopener noreferrer">Lend
                                Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/libmagapp/add_member" target="_blank" rel="noopener noreferrer">Create
                                Member</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/libmagapp/add_request" target="_blank" rel="noopener noreferrer">Request
                                Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/libmagapp/add_card" target="_blank" rel="noopener noreferrer">Add Libray
                                Card</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/libmagapp/add_librarian" target="_blank" rel="noopener noreferrer">Create
                                Libarian</a>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>

        </div>
    </div>
    {% for member in member_list %}
    <div class="card mb-3" style="width: 40vw; height:20vw; float:right; margin:10px 5px;overflow: hidden;"">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src='{{member.avatar.url}}' class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{member.name }}</h5>
              <h6 class="card-title">Mã thành viên: {{member.id|stringformat:"06d" }}</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: {{ member.email }}</li>
                <li class="list-group-item">Số điện thoại: {{ member.tel_number}}</li>
                <li class="list-group-item">Ngày đăng ký: {{ member.resgister_date }}</li>
                {% if request.user.is_staff %}
                <li class="list-group-item"><a href="/libmagapp/delete_member/{{member.id}}">Xóa người dùng này</a></li>
                {% endif %}
              </ul>
              <div class="card-body">
                <a href="{{ member.id }}/" class="card-link">Chi tiết</a>
              </div>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
     </div>
    {% endfor %}

    

    {% if request.user.is_staff %}
    <div style="max-width: 690px; clear:both;float: right; margin-left: 5vw; margin-top: 5vh;">
        <a href="/libmagapp/add_member"><img src='{% static "add.png" %}' class="card-img" alt="Add new member"></a>
    </div>
    {% endif %}
    
    <div class="footer" style="text-align: center; margin-top: 50px; clear: both; height: 50px;">
        <hr>
        <p>By using this site, you agree to the Terms of Use and Privacy Policy</p>
        <p>Contact - tel: 0373.xxx.xxx - fax: 0373.xxx.xxx - email: support@helioslibary.com</p>
    </div>

</body>

</html>